#main {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-wrap: wrap;
}

div {
	text-align: center;
}
.header {
	background-color: #1abc9c;
	color: white;
	flex: 100%;
}

#catlist {
	flex: 20%;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#catlist div{
	padding-bottom: 20px;
	padding-top: 20px;
}
#images {
	flex: 80%;
}

button {
	background-color: #fff;
	border-color: #fff;
	border-width: 0;
}

img {
	width: 60%;
	height: 60%;
}

@media screen and (max-width: 700px) {
    #main {   
        flex-direction: column;
    }
}
